{% extends 'base.html' %}

{% block content %}

<div class="form-group">
    <textarea id="code-editor" class="form-control" placeholder="paste code here" name="code" rows="3">{{object.code}}</textarea>
</div>

{% if not finished %}
<p>
    <div class="d-flex align-items-center">
      <div class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></div>
      &nbsp;
      <strong>{{ n_finished }} / {{ n_jobs }} finished </strong>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: {{ progress }}%;" aria-valuemax="100"></div>
    </div>
</p>
{% endif %}

{% for group in outputs %}
    <div class="card border-secondary mb-3">
        <div class="card-header">
        {% for job in group.jobs %}
            {{ job.python_version }}&nbsp;
        {% endfor %}
        </div>
        <div class="card-body">
            <p class="card-text"><pre>{{ group.output }}</pre></p>
        </div>
    </div>
{% endfor %}

{% endblock %}


{% block style %}
<style type="text/css">
.CodeMirror {
    border: 1px solid grey;
    background-color: #eee;
}
</style>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
var myCodeMirror = CodeMirror.fromTextArea(document.getElementById('code-editor'), {
    lineNumbers: true,
    mode: 'python',
    readOnly: true,
});
</script>
{% endblock %}